.awards-list-section {
    overflow: hidden;
    min-height: 30svh;
    /* Ensures minimum height is maintained */
}

.awards-animation-container {
    display: flex;
}

.awards-list-wrapper {
    flex-shrink: 0;
}

.awards-list {
    display: flex;
}

.awards-image-wrapper {
    flex-shrink: 0;
}