/* Base navbar styles */
[data-element="navbar"] {
    pointer-events: none;
    will-change: transform, opacity, visibility;
}

[data-element="navbar"][data-state="visible"] {
    opacity: 1;
    display: block;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

[data-element="navbar"][data-state="hidden"] {
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: translateY(1.25rem);
    pointer-events: none;
}