/* Dummy scrollbar to prevent content shift */
.scroll-lock::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--scrollbar-width);
    /* Match the scrollbar width */
    background: transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 9999;
}

/* Active scroll lock state */
.scroll-lock.active {
    overflow: hidden;
    position: fixed;
    width: 100%;
    min-height: 100%;
}

/* Specific elements padding */

.scroll-lock.active .section {
    padding-right: calc(2vw + var(--scrollbar-width));
}

.scroll-lock.active .navbar {
    padding-right: calc(2vw + var(--scrollbar-width));
}

.scroll-lock.active .nav-menu-wrapper {
    padding-right: var(--scrollbar-width);
}